.footer {
  /* background-color: palevioletred; */
  /* height: 6em; */
  position: relative;
  /* background-repeat: repeat; */
  background-repeat: repeat-x;
  background-image: url("./assets/footerWave.png");
  margin-top: -6em;
}
