#page-header {
  background-image: linear-gradient(
    to left top,
    #19d2c7,
    #3cd5eb,
    #79d6ff,
    #add5ff,
    #d5d5ff,
    #e4d1fb,
    #f3cdf3,
    #ffc9e8,
    #ffbfd0,
    #ffc09c,
    #ffd559,
    #fff600
  );

  height: 8em;
  position: relative;
  position: fixed;
  -webkit-backface-visibility: hidden;
  width: 100%;
  z-index: 1;
}

.page-header-ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 10em;
}

.page-header-li {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 20em;
  padding-top: 2em;
  font-size: 20px;
  font-family: sunborn;
  color: #42210b;
}

.page-header-button {
  padding-top: 2em;
}

/* .page-header-wave {
  padding-top: 20em;
  position: absolute;
} */

.page-header-name {
  display: flex;
  position: absolute;
  /* padding-top: 2em; */
  padding-left: 4em;
  font-family: "LeviReBrushed" !important;
  color: #ff5490;
  font-size: 3em;
}
