.section {
  /* display: flex; */
  justify-content: flex-end;
  /* padding-top: 20em; */
}

.section-div {
  background-color: #f9cdc3;
  background-image: url(https://www.transparenttextures.com/patterns/black-thread-light.png);
  padding: 12em;
  /* background-color: rosybrown; */
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 7em;
  margin-top: 15em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5em;
  padding-top: 7em;
}

.section-experience {
  background-color: aqua;
  height: 30em;
  width: 30em;
  position: absolute;
  display: flex;
  margin-left: 10em;
}

.section-experience {
  background-image: linear-gradient(
    to left bottom,
    #f9cdc3,
    #ffcbcc,
    #ffcad9,
    #ffcbe9,
    #facefb
  );
  height: 30em;
  width: 30em;
  display: flex;
  position: absolute;
  margin-right: 10em;
  border-radius: 1em;
}

.section-title {
  font-family: "LeviReBrushed" !important;
  color: #ff5490;
  font-size: 3em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-div-experience {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* margin-top: 10em; */
  overflow: hidden;
}

.section-div-language {
  font-family: "LeviReBrushed" !important;
  color: #ff5490;
  justify-content: flex-start;
  margin-left: 6em;
  display: flex;
  font-size: 3em;
  margin-top: 1em;
  position: relative;
}

.section-language-description {
  display: flex;
  /* font-family: "poppies"; */
  font-family: sunborn;
  font-size: 22px;
  line-height: 1.8;
  color: #42210b;
  position: absolute;
  margin-top: 1em;
  flex-direction: column;
}

.section p {
  font-size: medium;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: -11px;
}

.section-designs {
  background-color: #f9cdc3;
  background-image: url(https://www.transparenttextures.com/patterns/black-thread-light.png);
  display: flex;
  /* background-color: aquamarine; */
  height: 10em;
  margin-top: 16em;
  justify-content: center;
}
.section-desings-title {
  font-family: "LeviReBrushed" !important;
  color: #ff5490;
  font-size: 3em;
}

.section-div-education {
  display: flex;
  justify-content: flex-end;
}

.section-education-description {
  width: 20em;
  margin-right: 6em;
  color: #42210b;
  font-size: 24px;
  font-family: sunborn;
}
.section-title-education {
  font-family: "LeviReBrushed" !important;
  color: #ff5490;
  font-size: 3em;
  margin-bottom: -60px;
}

.section-div-code-skills {
  font-family: sunborn;
  color: #42210b;
  /* display: flex; */
  margin-top: -1em;
}
.section-div-description-skills {
  font-size: medium;
  color: #42210b;
  margin-top: 3em;
}

.section-code-title {
  font-family: "LeviReBrushed" !important;
  color: #ff5490;
  font-size: 3em;
  margin-bottom: -28px;
}

.section-code-subtitle {
  font-size: 22px;
  color: #42210b;
  position: absolute;
}

.section-tags {
  display: flex;
  height: 2em;
  width: 10em;
  background-color: #ffd396;
  justify-content: center;
  align-items: center;
  border-radius: 4em;
  margin: 0.2em;
}

/* .section-icons-software {
  display: flex;
} */

.section-icons {
  width: 3em;
  height: 3em;
}

.section-icons-software > img:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.section-div-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
}

.section-software-title {
  font-family: "LeviReBrushed" !important;
  color: #ff5490;
  font-size: 3em;
  margin-bottom: 0em;
  margin-top: 3em;
}

.section-div-tags {
  display: flex;
}

.section-experience-content {
  display: flex;
  flex-direction: column;
  color: #42210b;
  font-size: 24px;
  font-family: sunborn;
  width: 100%;
  margin: 18px;
}
